{% extends "layout.html" %}

{% block title %}
    Course
{% endblock %}

{% block heading %}
    Course
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" type="text/css" />
    <form action= "{{ url_for('searchcourse') }}" method="post">
        <input type="submit" value="Submit"/>
        <input type="text" name="search" placeholder="Search Table.." />
    </form>

    <table style="width:100%">
        <tr>
            <th>Course Number</th>
            <th>Course Name</th>
            <th>Level</th>
            <th>School</th>
        </tr>
        {% for i in courseView %}
            <tr>
                <td>{{ i.CourseId }}</td>
                <td>{{ i.Cname }}</td>
                <td>{{ i.Level }}</td>
                <td>{{ i.SchRegNo }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}