{% extends "layout.html" %}

{% block title %}
    Counselling Centres
{% endblock %}

{% block heading %}
    Counselling Centres Actions
{% endblock %}

{% block body %}
Select one option

    {% if authority == "user" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/centreView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "partial" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/centreView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/centreInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "admin" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/centreView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/centreInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/centreDelete">
                <div class="card">
                    <h1>Delete</h1>
                    <ul>
                    {% for i in centre %}
                        <li>{{ i.Name }} in {{ i.Adress }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}