{% extends "layout.html" %}

{% block title %}
    Counselling Centres
{% endblock %}

{% block heading %}
    Counselling Centres Delete
{% endblock %}

{% block body %}
Select one option
    <table style="width:100%">
        <tr>
            <th>Counselling Centre Name</th>
            <th>Address</th>
            <th>PhoneNumber</th>
        </tr>
        <form action="{{ url_for('centreDelete') }}" method="post">
            {% for i in centreDelete %}
                <tr>
                    <td><div class="radio"><label><input type="radio" id='regular' name="Name" value="{{ i.Name }}" >{{ i.Name }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.Adress }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.PhoneNumber }}</label></div></td>
                </tr>
            {% endfor %}
    </table>
    <br><input type="submit" value="Delete"/>
    </form>
{% endblock %}