{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block heading %}
    Location Delete
{% endblock %}

{% block body %}
Select one option
    <table style="width:100%">
        <tr>
            <th>School Registration Number</th>
            <th>School Name</th>
            <th>City</th>
            <th>Campus Name</th>
            <th>District</th>
            <th>Province</th>
        </tr>
        <form action="{{ url_for('locationDelete') }}" method="post">
            {% for i in locationDelete %}
                <tr>
                    <td><div class="radio"><label><input type="radio" id='regular' name="SchRegNo" value="{{ i.SchRegNo }}" >{{ i.SchRegNo }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.Sname }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.City }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.CampusName }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.District }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.Province }}</label></div></td>
                </tr>
            {% endfor %}
    </table>
    <br><input type="submit" value="Delete"/>
    </form>
{% endblock %}