{% extends "layout.html" %}

{% block title %}
    Scholarship
{% endblock %}

{% block heading %}
    Inserting into Scholarship
{% endblock %}

{% block body %}
    <style>
        /* Tooltip */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: -5px;
            left: 110%;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent black transparent transparent;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>

    <fieldset>
        <legend>Scholarship Form</legend>
        <form action="{{ url_for('scholarshipInsert') }}" method="post">

            Scholarship Name:<br>
            <input type="text" name="schName"/><br>

            Organization name:<br>
            <input type="text" name="OrgName"><br>

            Type:<br>
            <input type="text" name="Type"><br>

            <div class="tooltip">Amount:
              <span class="tooltiptext">At Least 10,000</span>
            </div><br>
            <input type="number" name="Amount" min="10000"><br>

            School Registration Number:<br>
            <select name="SchRegNo">
                <option value="NULL"></option>

                {% for i in InsScholarship %}
                <option value="{{ i.RegNo }}">{{ i.RegNo }} - {{ i.Sname }}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Insert">
        </form>
    </fieldset>
{% endblock %}