{% extends "layout.html" %}

{% block title %}
    Scholarship
{% endblock %}

{% block heading %}
    Scholarship Actions
{% endblock %}

{% block body %}
Select one option

    {% if authority == "user" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/scholarshipView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "partial" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/scholarshipView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/scholarshipInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "admin" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/scholarshipView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/scholarshipInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/scholarshipDelete">
                <div class="card">
                    <h1>Delete</h1>
                    <ul>
                    {% for i in scholarship %}
                        <li>{{ i.Type }} from {{ i.OrgName }} to {{ i.Sname }} of {{ i.Amount }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}