{% extends "layout.html" %}

{% block title %}
    Scholarship
{% endblock %}

{% block heading %}
    Scholarship
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" type="text/css" />
    <form action= "{{ url_for('searchscholarship') }}" method="post">
        <input type="submit" value="Submit"/>
        <input type="text" name="search" placeholder="Search Table.." />
    </form>

    <table style="width:100%">
        <tr>
            <th>Scholarship Name</th>
            <th>Organization Name</th>
            <th>Type</th>
            <th>Amount</th>
            <th>School</th>
        </tr>
        {% for i in scholarshipView %}
            <tr>
                <td>{{ i.schName }}</td>
                <td>{{ i.OrgName }}</td>
                <td>{{ i.Type }}</td>
                <td>{{ i.Amount }}</td>
                <td>{{ i.SchRegNo }}</td>
            </tr>
        {% endfor %}
    </table><br><br>

    <form action="{{ url_for('rangescholarship') }}" method="post">
        <input type="submit" value="Submit"/>
        <input type="number" name="minimum" min=10000 step=1000 style="float:right" />
        <input type="number" name="maximum" min=10000 step=1000 style="float:right" />

    </form>
{% endblock %}