{% extends "loginLayout.html" %}

{% block title %}
  About
{% endblock %}

{% block heading %}
  About
{% endblock %}

{% block body %}
    <div class="row">
      <div class="column" id="fadeIn">
        <div class="card">
          <img src="{{ url_for('static', filename='img/pictures/Shahzaib.jpg') }}" alt="Shahzaib" width="300" height="300"/>
          <div class="container">
            <h2>Shahzaib Waseem</h2>
            <p class="title">Front-End Designer</p>
            <p>Front End, Python Server</p>
            <p>shahzaib.waseem96@gmail.com</p>
            <p><a href="mailto:shahzaib.waseem96@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column" id="fadeIn">
        <div class="card">
          <img src="{{ url_for('static', filename='img/pictures/Shafay.jpg') }}" alt="Shafay" width="300" height="300"/>
          <div class="container">
            <h2>Shafay Ijaz</h2>
            <p class="title">Database Designer</p>
            <p>ERD, Database Schema, SQL Queries</p>
            <p>mijaz.bscs16seecs@seecs.edu.pk</p>
            <p><a href="mailto:mijaz.bscs16seecs@seecs.edu.pk"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>

      <div class="column" id="fadeIn">
        <div class="card">
          <img src="{{ url_for('static', filename='img/pictures/Sanan.jpg') }}" alt="Sanan" width="300" height="300"/>
          <div class="container">
            <h2>Sanan Yaqoob</h2>
            <p class="title">Supervisor</p>
            <p>Database Data Insertion, Front End Reviewer</p>
            <p>sananyaqoob45@gmail.com</p>
            <p><a href="mailto:sananyaqoob45@gmail.com"><button class="button">Contact</button></a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}