<!DOCTYPE html>
<html>
  <head>
    <title>School Ranking System - {% block title%} {% endblock %}</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/PoiretOne.css') }}" >
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/PermanentMarker.css') }}">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  	<script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
  </head>
  <body>
    <div id="main" class="w3-animate-opacity">
  	  <div id="Title">
  		  <span class="titleBar"> School Ranking System </span>
  			<span class="titleBarMenu">
  				<a href="/">Home</a>
  				<a href="/contactUs">Contact Us</a>
  				<a href="/about">About</a>
  				<a href="/login">Log In</a>
  				<a href="/signup">Sign Up</a>
  			</span>
  		</div>
  		<!--Write Every Code Here-->
  		<h1>{% block heading %}{% endblock %}</h1>

		{% block body %}{% endblock %}

  	</div>
  </body>
</html>