{% extends "layout.html" %}

{% block title %}
    Fee
{% endblock %}

{% block heading %}
    Inserting into Fee
{% endblock %}

{% block body %}
    <fieldset>
        <legend>Fee Form</legend>
        <form action="{{ url_for('feeInsert') }}" method="post">

            Fee ID:<br>
            <input type="number" name="FeeId"/><br>

            <div class="tooltip">Total Amount:
              <span class="tooltiptext">At Least 1,000</span>
            </div><br>
            <input type="number" name="TotalAmount" min="1000"><br>

            Level:<br>
            <input type="number" name="Level"><br>

            Fee Date:<br>
            <input type="date" name="FeeDate"><br>

            School Registration Number:<br>
            <select name="SchRegNo">
                <option value="NULL"></option>

                {% for i in InsSchoolFee %}
                <option value="{{ i.RegNo }}">{{ i.RegNo }} - {{ i.Sname }}</option>
                {% endfor %}
            </select><br>

            Course ID:<br>
            <select name="CourseId">
                <option value="NULL"></option>

                {% for i in InsCourseFee %}
                <option value="{{ i.CourseId }}">{{ i.CourseId }} - {{ i.Cname }}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Insert Fee">
        </form>
    </fieldset>
{% endblock %}