{% extends "layout.html" %}

{% block title %}
    Ranking
{% endblock %}

{% block heading %}
    Rank Delete
{% endblock %}

{% block body %}
Select one option
    <table style="width:100%">
        <tr>
            <th>School Number</th>
            <th>School Name</th>
            <th>District Rank</th>
            <th>City Rank</th>
        </tr>
        <form action="{{ url_for('rankDelete') }}" method="post">
            {% for i in rankDelete %}
                <tr>
                    <td><div class="radio"><label><input type="radio" id='regular' name="SchRegNo" value="{{ i.SchRegNo }}" >{{ i.SchRegNo }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.Sname }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.DistrictRank }}</label></div></td>
                    <td><div class="radiotext"><label for='regular'>{{ i.CityRank }}</label></div></td>
                </tr>
            {% endfor %}
    </table>
    <br><input type="submit" value="Delete"/>
    </form>
{% endblock %}