{% extends "layout.html" %}

{% block title %}
    School
{% endblock %}

{% block heading %}
    School Actions
{% endblock %}

{% block body %}
    Select one option

    {% if authority == "user" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/schoolView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "partial" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/schoolView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/schoolInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "admin" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/schoolView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/schoolInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/schoolDelete">
                <div class="card">
                    <h1>Delete</h1>
                    <ul>
                    {% for i in school %}
                        <li>{{ i.Sname }} in {{ i.Location }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}