{% extends "layout.html" %}

{% block title %}
    Admission
{% endblock %}

{% block heading %}
    Admission
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" type="text/css" />
    <table style="width:100%">
        <tr>
            <th>School Number</th>
            <th>Fee</th>
            <th>Level</th>
            <th>Marks Required</th>
        </tr>
        {% for i in admissionView %}
            <tr>
                <td>{{ i.SchRegNo }}</td>
                <td>{{ i.Fee }}</td>
                <td>{{ i.Level }}</td>
                <td>{{ i.MarksReq }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="{{ url_for('rangeadmission') }}" method="post">
        <input type="submit" value="Submit"/>
        <input type="number" name="minimum" min=10000 step=1000 style="float:right" />
        <input type="number" name="maximum" min=10000 step=1000 style="float:right" />
    </form>
{% endblock %}