{% extends "layout.html" %}

{% block title %}
    Admission
{% endblock %}

{% block heading %}
    Admission Actions
{% endblock %}

{% block body %}
    Select one option

    {% if authority == "user" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/admissionView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "partial" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/admissionView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/admissionInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>

    {% elif authority == "admin" %}
    <div class="row">
        <div class="column" id="fadeIn">
            <a href="/admissionView">
                <div class="card">
                    <h1>View</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/admissionInsert">
                <div class="card">
                    <h1>Insert</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>

        <div class="column" id="fadeIn">
            <a href="/admissionDelete">
                <div class="card">
                    <h1>Delete</h1>
                    <ul>
                    {% for i in admission %}
                        <li>Name: {{ i.Sname }}, Marks Required: {{ i.MarksReq }}, Fee: {{ i.Fee }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
{% endblock %}